* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body,
div,
section,
aside,
p,
input,
a,
img,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(255, 255, 95);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: rgb(110, 18, 18);
    color: #fff;
}

header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wrap nav ul {
    display: flex;
    align-items: center;
}

header .wrap nav ul .header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    color: #fff;
}

header .wrap nav ul .header-link:hover {
    background-color: rgb(87, 15, 15);
}

header .wrap nav ul .header-link-active {
    background-color: rgb(87, 15, 15);
}

.admin-block h2 {
    padding-top: 20px;
    text-align: center;
}

.admin-block .add-new-product-btn {
    margin-top: 25px;
    width: 100%;
    font-size: 25px;
    height: 40px;
}

.admin-block .products-list .item {
    display: grid;
    grid-template-columns: 50px 1fr 50px 1fr 1fr 1fr 100px 100px;
    grid-auto-rows: 50px;
    /* align-items: center; */    
}

.admin-block .products-list .item > div {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-block .products-list .item button {
    width: 90%;
    height: 80%;
}